<!DOCTYPE html>

<html>

<head>
  <title>Vonage SMS Proxy Configurator </title>
  <meta charset="utf-8">

</head>

<body>
  <div style="margin: 10px auto 10px auto;height: 30px;max-width: 1000px;">
    <div style="float: right;">
      <span style="display: inline-flex;">
        <div class="user" style="padding: 5px;margin: auto 0;">
          Vonage User
        </div>
        <div>
          <form action="./logout" method="post" style="padding: 5px;margin: auto 0;">
            <button class="logout" type="submit">Sign out</button>
          </form>
        </div>
      </span>

    </div>
    <span style="float: left;margin: auto 0;padding: 5px;">
      <label>Vonage Neru Passport Sample</label>
    </span>
  </div>
  <hr style="border-color: darkgray;border-width: 1px;">
  <div style="display: grid; padding: 20px; min-width: 300px; max-width:600px; margin: 0 auto;">
    <h1>You are logged in!</h1>
  </div>

</body>

</html>